/* latin */
@font-face {
  font-family: "ChakraPetch";
  src: url("../fonts/ChakraPetch-Regular-latin.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext (includes č, š in "Jančuš") */
@font-face {
  font-family: "ChakraPetch";
  src: url("../fonts/ChakraPetch-Regular-latinext.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "ChakraPetch";
  src: url("../fonts/ChakraPetch-Bold-latin.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext (includes č, š in "Jančuš") */
@font-face {
  font-family: "ChakraPetch";
  src: url("../fonts/ChakraPetch-Bold-latinext.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

body {
  font-family: "ChakraPetch";
  background-image: url("../images/code-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

body h1 {
  text-align: center;
  margin: 0.6em 0 0.2em;
}

body h2 {
  font-size: 28px;
  text-align: center;
  margin: 1em 0 0;
}

a {
  text-decoration: none;
}

.title-note {
  font-weight: bold;
  font-size: 16px;
}

.description-content {
  text-align: center;
  margin: 16px 0 0;
}

.description {
  font-size: 20px;
}

.profile-links a {
  display: inline-block;
  margin: 0 20px 0 0;
}

.profile-icon {
  width: 40px;
  height: 40px;
  margin: 10px 0 0;
}

.profile-text {
  color: #000;
}

.content {
  text-align: center;
  padding: 20px 0 0;
}

.gallery-element {
  display: inline-block;
  padding: 24px 0 0;
  vertical-align: top;
}

.gallery-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0 0 10px;
  color: #2874a6;
}

.pswp-gallery {
  padding: 0 10px 0;
}

.thumbnail {
  max-width: 720px;
  height: auto;
}

.project-link {
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .thumbnail {
    width: 100%;
  }
}