@font-face {
  font-family: "CharkaPetch";
  src: URL("../fonts/ChakraPetch-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "CharkaPetch";
  src: URL("../fonts/ChakraPetch-Bold.ttf") format("truetype");
  font-weight: bold;
}

body {
  font-family: "CharkaPetch";
  background-image: url("../images/code-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  text-align: center;
}

body h1 {
  text-align: center;
  margin: 0.6em 0 0.2em;
}

a {
  text-decoration: none;
}

.title-note {
  font-weight: bold;
  font-size: 16px;
}

.description-content {
  text-align: center;
  margin: 16px 0 0;
}

.description {
  font-size: 20px;
}

.github-icon {
  width: 40px;
  height: 40px;
  margin: 10px 0 0;
}

.code-examples {
  color: #000;
}

.content {
  text-align: center;
  padding: 20px 0 0;
}

.gallery-element {
  display: inline-block;
  padding: 24px 0 0;
  vertical-align: top;
}

.gallery-title {
  font-size: 24px;
  font-weight: bold;
  padding: 0 0 10px;
  color: #2874a6;
}

.pswp-gallery {
  padding: 0 10px 0;
}

.thumbnail {
  max-width: 720px;
}

.project-link {
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .thumbnail {
    width: 100%;
  }
}